@media screen and (max-width: 1900px) {
	.advan_cards::before{
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.rev_slider .slick-prev{
		left: -15px;
	}
	.main_form{
		flex-wrap: wrap;
		max-width: 538px;
		margin: 0 auto;
		padding: 20px 0 0;
	}
	.main_input,
	.main_btn{
		width: calc(50% - 20px);
	}
	.main_tit p{
		max-width: 620px;
		margin: 0 auto 2px;
	}
	.main::after{
		left: -40px;
	}
	.advan_card-in{
		padding: 20px;
	}
	.advan_btn{
		bottom: -20px;
	}
	.tabs{
		width: 550px;
	}
	.procedure_content{
		width: calc(100% - 550px);
	}
	.help_content{
		width: calc(100% - 350px);
	}
	.app_cards::before,
	.app_cards::after{
		display: none;
	}
	.app_cards{
		margin: 0 -15px;
	}
	.slick-dots{
		right: 15px;
	}
	.slick-arrow{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #FFFFFF;
		background-size: 10px 17px;
		background-repeat: no-repeat;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
	}
	.slick-prev{
		left: 0;
		z-index: 7;
	}
	.foot_txts{
		width: 230px;
		padding-right: 10px;
	}
	.rev_img{
		width: 217px;
		margin: -10px auto 7px;
	}
	.advan_cards{
		margin: 0 -15px;
	}
	.main_cards{
		margin: 0 -15px 60px;
	}
	.dsk{
		display: none;
	}
	.lg{
		display: block;
	}
	.res{
		overflow: hidden;
	}
	.what_img img{
		height: 100%;
		width: auto;
		min-width: 100%;
	}
	.what{
		padding-bottom: 120px;
	}
}
@media screen and (max-width: 990px) {
	.head_bot{
		padding-top: 20px;
	}
	.main{
		padding: 20px 0 60px;
	}
	.main::after{
		bottom: 44px;
    width: 190px;
    height: 256px;
		background-size: 100% 100%;
    left: 0;
	}
	.main_card{
		padding: 0 10px;
		width: 33.3%;
	}
	.main_cards{
		margin: 0 -10px 60px;
	}
	.main_form{
		max-width: 508px;
	}
	.main_form_desc{
		max-width: 508px;
		text-align: left;
		margin: 0 auto;
	}
	.res_items{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.res_item__img{
		width: 50%;
		max-width: 340px;
		padding-bottom: 20px;
	}
	.res_item:first-child{
		width: 50%;
	}
	.res_item:last-child{
		width: 100%;
		columns: 2;
	}
	.res_imgs::before{
		right: -50px;
		background-size: 100% 100%;
    width: 193px;
    height: 273px;
    bottom: -140px;
	}
	.res_imgs{
		height: 275px;
	}
	.res_imgs .play::after{
		width: 40px;
		height: 40px;
		background-size: 50% 50%;
	}
	.res{
		padding: 30px 0;
	}
	.res .sec_name{
		margin-bottom: 30px;
	}
	.advan_cards{
		margin: 0;
	}
	.advan_card{
		padding: 0 7px;
		width: 33.3%;
	}
	.advan{
		padding: 35px 0 0;
	}
	.advan .sec_name{
		margin-bottom: 25px;
	}
	.what_left .what_img{
		display: none;
	}
	.what .body_list{
		padding-bottom: 30px;
	}
	.what_right .what_img__1{
		display: block;
	}
	.what_img{
		margin-bottom: 22px;
	}
	.what_wrap .what_right{
		width: 301px;
	}
	.what_img{
		height: 156px;
	}
	.what_wrap .what_left{
		width: 390px;
		padding-right: 36px;
	}
	.what_wrap{
		justify-content: center;
	}
	.what{
		padding-bottom: 75px;
	}
	.what_left .sec_name{
		display: block;
		margin-bottom: 20px;
	}
	.dsc{
		display: none;
	}
	.md{
		display: block;
	}
	.what_wrap{
		margin-top: 0;
	}
	.what_left{
		justify-content: flex-start;
	}
	.play::after{
		width: 50px;
		height: 50px;
		background-size: 40% 40%;
	}
	.procedure_content::before{
		display: none;
	}
	.procedure_in{
		flex-direction: column;
	}
	.procedure_content{
		padding: 0 0 40px;
		width: 100%;
		position: relative;
	}
	.procedure_ic{
		position: relative;
		bottom: 0;
		right: 0;
		position: absolute;
		bottom: 62px;
	}
	.procedure{
		padding: 57px 0 70px;
	}
	.tabs{
		width: 100%;
	}
	.help .sec_name{
		margin-bottom: 7px;
		max-width: 660px;
	}
	.help_content{
    width: calc(100% - 320px);
	}
	.help{
		padding: 35px 0 40px;
	}
	.help_form .form_item{
		width: calc(50% - 5px);
	}
	.help_form .form_item:nth-child(3){
		order: -1;
	}
	.help_form .form_item:first-child{
		order: -1;
	}
	.help_form .form_item:nth-child(2){
		width: 100%;
	}
	.help_form .form_item:last-child{
		width: 100%;
	}
	.help_in{
		align-items: center;
	}
	.app{
		padding: 70px 0;
	}
	.app .slick-dots{
		top: -30px;
	}
	.app_cards{
		padding-bottom: 30px;
	}
	.app_socs{
		flex-direction: column;
	}
	.app_soc__txt{
		width: 100%;
		max-width: 100%;
		padding-bottom: 30px;
	}
	.app_socs .sec_name{
		padding-bottom: 18px;
	}
	.app_soc__tel{
		align-self: flex-end;
		width: 580px;
	}
	.app_vector{
    width: 142px;
    height: 202px;
    bottom: 36px;
    left: -16px;
	}
	.app_vector::before {
    width: 780px;
    height: 329px;
    bottom: 80px;
    left: 28px;
	}
	.app_tel-img__2 img{
		right: -9px;
	}
	.app_tel-img__3 img{
		right: -35px;
	}
	.review{
		padding: 53px 0 96px;
	}
	.review .sec_name{
		margin-bottom: 24px;
	}
	.review .slick-dots{
		top: -57px;
	}
	.rev_slide{
		padding-right: 10px;
	}
	.rev_slider .slick-list::before{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 51px;
		z-index: 10;
		background: linear-gradient(90deg, rgba(244, 244, 244, 0) 0%, #F4F4F4 100%);
	}
	.rev_slider{
		padding-right: 0;
		margin-right: -15px;
	}
	footer{
		padding: 65px 0 30px;
	}
	.foot{
		margin-bottom: 10px;
		flex-wrap: wrap;
	}
	.foot > div{
		width: calc(50% - 10px);
		padding-bottom: 20px;
	}
	.foot_logo{
		margin-bottom: 12px;
	}
	.foot_desc{
		margin-bottom: 17px;
	}
	.advan .sec_name{
		margin-bottom: 65px;
		text-align: center;
	}
	.advan .slick-dots{
		top: -50px;
    left: 0;
    justify-content: center;
	}
	.advan_card-in {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	}
	.advan .slick-arrow{
		top: -30px;
	}
}
@media screen and (max-width: 770px) {
	.container{
		max-width: 530px;
	}
	.sm-b{
		display: block;
	}
	.sm-n{
		display: none;
	}
	.menu_li{
		display: none;
	}
	.menu_li__mob{
		display: block;
	}
	.menu .head_wa{
		display: block;
		height: 31px;
	}
	li.sm-b{
		display: flex;
		align-items: center;
		height: 31px;
	}
	li .head_tel{
		margin: 0 0 0 19px;
	}
	.welcome_in{
		padding: 15px;
		margin-bottom: 30px;
	}
	.main_card{
		width: 50%;
	}
	.main_cards{
		margin-bottom: 20px;
	}
	.main::after{
		display: none;
	}
	.main_input{
		order: -1;
		width: calc(50% - 8px);
	}
	.input__option{
		order: 0;
		width: 100%;
	}
	.main_btn{
		width: 100%;
	}
	.main_btn .btn{
		width: 238px;
		margin: 0 auto 30px;
		display: block;
	}
	.sec_name{
		text-align: center;
	}
	.ch_list li{
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 9px;
	}
	.res .sec_name{
		margin-bottom: 25px;
	}
	.res_item{
		width: 100%!important;
	}
	.res_item:last-child{
		columns: 1;
	}
	.res_item__img{
		width: 100%;
		order: 1;
	}
	.help_desc{
		text-align: center;
		max-width: 335px;
		margin: 0 auto;
	}
	.res_imgs{
		height: 310px;
	}
	.res_imgs::before {
    right: -40px;
    width: 169px;
    height: 234px;
    bottom: -101px;
	}
	.res_item-btn{
		font-size: 12px;
		line-height: 15px;
		color: #552F36;
		letter-spacing: normal;
		font-family: 'CenturyGothicBold', arial, sans-serif;
		margin-bottom: 16px;
	}
	.sec_name{
		font-size: 16px;
		line-height: 22px;
	}
	.main_card-name{
		font-size: 12px;
		line-height: 1.4;
	}
	.main_list li{
		padding: 10px;
		min-height: auto;
		font-size: 11px;
    line-height: 13px;
	}
	.main_card-name{
		height: 55px;
	}
	.main_list{
		top: 50px;
	}
	.main_card-btn{
		top: 19px;
	}
	.advan_card-in{
		padding: 18px 8px;
	}
	.advan_top{
		padding-bottom: 10px;
	}
	.sec_name.dsc{
		display: block;
		margin-bottom: 25px;
	}
	.what_left{
		display: none;
	}
	.what_right{
		width: 336px;
		margin: 0 auto;
	}
	.foot{
		flex-direction: column;
		text-align: center;
	}
	.foot > div{
		width: 100%;
		padding-bottom: 25px;
	}
	.foot_txts{
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer{
		padding: 30px 0;
	}
	.foot_icons{
		justify-content: center;
		margin-left: 10px;
	}
	.foot_contact{
		max-width: 270px;
		margin: 0 auto;
	}
	.foot_contact b{
		display: block;
	}
	.foot_bot{
		max-width: 288px;
		margin: 0 auto;
	}
	.more_title{
		font-size: 12px;
		line-height: 15px;
	}
	.more_in{
		padding: 60px 40px;
	}
	.app_soc__tel{
		width: 100%;
	}
	.app_tel-btn{
		width: 100px;
	}
	.app_soc__txt p{
		text-align: center;
		width: 100%;
		max-width: 336px;
		margin: 0 auto;
	}
	.app_tel-img__2{
		opacity: 0;
	}
	.app_tel-img__3 img{
		right: auto;
		left: -360px;
	}
	.app_tel-img__1 img{
		right: -235px;
		width: 220px;
		top: -35px;
	}
	.app_soc__txt{
		padding-bottom: 50px;
	}
	.app_vector{
		bottom: 65px;
	}
	.review .sec_name{
		margin-bottom: 55px;
	}
	.slick-dots{
		left: 0;
		right: 0;
		justify-content: center;
		margin-left: -20px;
	}
	.slick-dots li{
		margin-left: 10px;
	}
	.review .slick-dots{
		top: -45px;
	}
	.app_card{
		padding: 40px 8px;
	}
	.app_card-in{
		padding: 20px 15px;
	}
	.app_card-title{
		font-size: 15px;
		line-height: 18px;
	}
	.app_card-list li{
		font-size: 12px;
		letter-spacing: normal;
		margin-bottom: 4px;
		line-height: 135%;
	}
	.app .slick-dots {
    top: 0px;
	}
	.app .slick-arrow{
		top: 8px;
	}
	.help .sec_name.dsc{
		display: none;
	}
	.help .sec_desc{
		text-align: center;
		max-width: 280px;
		margin: 0 auto 30px;
		font-size: 12px;
		line-height: 15px;
	}
	.help_in{
		flex-direction: column;
	}
	.help_content{
		width: 100%;
	}
	.help_img{
		width: 220px;
		height: 220px;
		margin-bottom: 30px;
	}
	.procedure_txt{
		font-size: 12px;
		line-height: 18px;
	}
	.res_item-btn{
		display: inline-block;
	}
	.slick-arrow{
		width: 30px;
		height: 30px;
    background-size: 30% 45%;
	}
	.tab{
		font-size: 12px;
		letter-spacing: normal;
	}
	.tab-wrap {
    box-shadow: 0 0px 1px 2px rgba(0,0,0,0.05);
	}
	.procedure_ic{
		display: none;
	}
	.procedure_list li{
		font-size: 12px;
		line-height: 16px;
	}
	.procedure_content{
		padding-bottom: 20px;
	}
	.body-wrap{
		padding: 30px 10px 30px 15px;
	}
	.body_top{
		position: relative;
		margin-bottom: 10px;
	}
	.body_img{
		width: 110px;
		height: 110px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.body_top-content{
		width: 100%;
		padding-left: 0;
	}
	.body_tit{
		min-height: 110px;
		width: calc(100% - 125px);
		margin-left: 125px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.body_list{
		padding: 0 0 40px 0;
	}
	.body_list li{
		font-size: 12px;
		line-height: 16px;
	}
	.body_tag{
		width: 84px;
		padding-left: 14px;
		bottom: -6px;
	}
	.what_wrap{
		display: none;
	}
	.what_mob{
		display: block;
		margin: 0 auto;
		max-width: 360px;
	}
	.what_body-in{
		opacity: 1;
	}
	.what_body{
		padding-bottom: 30px;
	}
	.what_txt-block{
		display: none;
	}
	.what .body_list{
		padding-bottom: 0;
	}
	.what_open{
		font-family: 'CenturyGothicBold', arial, sans-serif;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: normal;
		text-align: left;
		margin-top: 20px;
		cursor: pointer;
	}
	.body_list{
		margin-bottom: 10px;
	}
	.modal_app{
		padding: 30px 20px;
	}
	.app_right-block{
		padding-bottom: 10px;
	}
	.app_tag {
    font-size: 12px;
    line-height: 115%;
    padding: 12px 10px 12px 49px;
    background-position: left 19px center;
	}
	.what_img{
		height: 170px;
	}
	.advan .slick-list{
		padding: 40px 40px 40px 0;
	}
	.advan .sec_name{
		margin-bottom: 25px;
	}
	.advan .slick-dots{
		top: -10px;
	}
	.advan_btn{
		bottom: -40px;
	}
	.help_txt{
		font-size: 9px;
		line-height: 1;
		bottom: 1px;
	}
	.help_img::before{
		border-width: 11px;
	}
	.help_img{
		width: 152px;
		height: 152px;
	}
	.modal_price{
		background-image: none;
	}
	.modal_content{
		margin: 0 auto;
	}
	.modal_price .main_btn .btn{
		width: 100%;
	}
	.modal_tit{
		font-size: 18px;
		line-height: 1.2;
		max-width: 350px;
		margin: 0 auto;
	}
	.modal_btns .help_desc{
		text-align: left;
	}
	.modal_btns{
		padding-top: 20px;
	}
	.modal_rad{
		margin-bottom: 20px;
	}
	.modal_th{
		background-image: none;
	}
	.modal_th .modal_in{
		padding: 15px;
	}
	.modal_consult .modal_txt{
		max-width: 330px;
	}
	.modal_consult{
		background-image: none;
		padding-bottom: 0;
	}
}
@media screen and (max-width: 560px) {
	.advan_name br{
		display: none;
	}
	.modal_rev-content{
		width: 100%;
	}
	.modal_rev-in{
		position: relative;
	}
	.modal_rev-in .rev_img{
		position: absolute;
		left: 15px;
		top: 0;
		width: 85px;
		margin: 0;
	}
	.modal_rev-in .rev_img::before{
		border-width: 10px;
	}
	.modal_rev-in .rev_name{
		padding-top: 35px;
		margin-left: 130px;
	}
	.modal_rev-in .rev_desc{
		margin-left: 130px;
	}
	.modal_rev-in .rev_txt{
		padding-top: 30px;
	}
	.fancybox-stage .rev_slide-in{
		min-height: auto;
	}
	.rev_img{
		margin: 0 0 7px;
	}
	.modal_rev-in .rev_txt{
		font-size: 12px;
		line-height: 16px;
	}
	.modal_app-in{
		flex-direction: column;
	}
	.modal_app-in > div{
		width: 100%;
	}
	.app_left{
		padding-bottom: 20px;
	}
	.app_left-img{
		width: 120px;
	}
	.advan_ic{
		width: 28px;
		height: 28px;
	}
	.advan_name{
		font-size: 12px;
		line-height: 14px;
		padding-left: 8px;
	}
	.app_tel-img__3 img {
    left: -337px;
	}
}
@media screen and (max-width: 450px) {
	.advan_card-in{
		padding: 20px;
	}
	.advan_txt{
		opacity: 1;
		height: auto;
	}
	.advan_prev{
		opacity: 0;
	}
	.advan_btn{
		display: none;
	}
	.advan_card__simple .advan_prev{
		opacity: 1;
	}
	.modal_price .main_input{
		width: calc(50% - 5px);
	}
	.modal_price .main_form{
		padding-bottom: 0;
	}
	.modal_rad{
		font-size: 12px;
		letter-spacing: normal;
	}
	.modal {
    padding: 20px 15px;
	}
	.modal_btns{
		flex-direction: column-reverse;
	}
	.modal_price .main_btn .btn{
		margin-bottom: 10px;
	}
	.modal_btns .main_btn{
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.advan_name {
    font-size: 11px;
    line-height: 12px;
    padding-left: 5px;
	}
	.advan_card{
		height: 170px;
	}
	.advan_btn{
		bottom: 0;
	}
	.app_tel-img__3 img {
    left: -329px;
	}
}